html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body{
    background-color: #000;
    position: fixed;
}

canvas{
    /* display: block; */
    position: relative;
    margin: 0 auto;
}